Incorrect default OIDC scopes formatting (comma-separated instead of space-delimited)

When configuring the plugin with Microsoft Entra ID, authentication fails due to an invalid `scope` parameter.

The default configuration defines scopes as a comma-separated string:

```
openId,email,profile
```

However, according to the OAuth 2.0 specification, scopes must be **space-delimited**, not comma-separated.

From RFC 6749 §3.3:

> The value of the scope parameter is expressed as a list of space-delimited, case-sensitive strings.

Because of this, the plugin sends a single invalid scope (`openId,email,profile`) instead of three separate scopes, which causes providers like Microsoft Entra ID to reject the request.

---

### Expected behavior

Scopes should be formatted as space-separated values:

```
openid email profile
```

---

### References

* RFC 6749 §3.3: https://datatracker.ietf.org/doc/html/rfc6749#section-3.3
* Authlib Starlette OpenID example:
  https://docs.authlib.org/en/stable/client/starlette.html#starlette-openid-connect

Relevant code:

* https://github.com/mlflow-oidc/mlflow-oidc-auth/blob/8bee7e0eb33559cfc77e0fb2642b2e5b0024af41/mlflow_oidc_auth/config.py#L88
* https://github.com/mlflow-oidc/mlflow-oidc-auth/blob/bd45a3b1435173affd4f80fe6be071dda7885682/mlflow_oidc_auth/oauth.py#L53

---

### Suggested solution

1. use `get_list` instead  of `get` to ensure scopes are a list of strings
2. join the list of strings with a space-delimiter and use for the scope argument when initializing the client

Alternatively to not break existing configurations

1. change the default value to a value "openid email profile"
2. add a normalizer function which parses and normalises the scopes before initializing the client